@use "@/styles/colors" as color;
@use "@/styles/font-sizes" as font;

.Button {
  color: white;
  background-color: color.$secondary;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  font-size: font.$size-sm;
  font-weight: 600;
  font-family: var(--font-avenir-next);
}
