$primary: hsl(224, 20%, 41%);
$secondary: hsl(180, 60%, 51%);
$secondary-hover: hsl(180, 60%, 45%);
$heading: hsl(220, 58%, 31%);

$neutral-lightest: hsl(0, 0%, 98%);
$neutral-lighter: hsl(0, 11%, 96%);
$neutral-light: hsl(220, 20%, 91%);
$neutral: hsl(0, 26%, 89%);
$neutral-dark: hsl(220, 58%, 31%);

$text-green: hsl(137, 60%, 51%);
$text-yellow: hsl(46, 100%, 46%);
$text-red: hsl(345, 97%, 45%);
$text-red2: hsl(345, 100%, 60%);
$text-pink: hsl(292, 100%, 55%);
$text-blue: hsl(256, 100%, 55%);
$text-orange: hsl(9, 90%, 61%);

$bg-green: hsl(140, 60%, 97%);
$bg-yellow: hsl(45, 86%, 95%);
$bg-red: hsl(346, 79%, 95%);
$bg-red2: hsl(345, 100%, 96%);
$bg-pink: hsl(292, 100%, 95%);
$bg-blue: hsl(256, 100%, 95%);
$bg-orange: hsl(10, 90%, 96%);
