@use "@/styles/font-sizes" as font;
@use "@/styles/colors" as color;
@use "@/styles/breakpoints" as *;

.backToUsers {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.titleRow {
  font-family: var(--font-work-sans);
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 2rem 0;

  .actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
      background: none;
      text-transform: uppercase;
      border: 1px solid;
      border-radius: 8px;
      font-size: font.$size-sm;
      width: 170px;
      height: 40px;

      &.blacklist {
        color: color.$text-red;
        border-color: color.$text-red;
      }

      &.activate {
        color: color.$secondary;
        border-color: color.$secondary;
      }
    }
  }
}

.userHeader,
.tabContent {
  background-color: white;
  padding: 30px;
  border-radius: 4px;
  border: 1px solid rgba(color.$heading, 6%);
  box-shadow: 3px 5px 20px 0 rgba(black, 4%);
}

.userHeader {
  padding-bottom: 0;
}

.basicInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  text-align: center;

  h2 {
    font-weight: 500;
    font-size: font.$size-2xl;
    margin-bottom: 8px;
  }

  p {
    font-size: font.$size-sm;
  }
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(color.$heading, 16%);
  margin-right: 20px;
  flex-shrink: 0;

  i {
    color: color.$heading;
    font-size: font.$size-4xl;
  }
}

.tier {
  p {
    font-size: font.$size-sm;
    margin-bottom: 10px;
    font-weight: 500;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    i {
      color: color.$text-yellow;
    }
  }
}

.bank h6 {
  font-size: font.$size-sm;
}

.tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
  margin-top: 2.5rem;
  gap: 10px;

  .tab {
    padding: 10px 0;
    color: color.$primary;
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 170px;
    gap: 10px;
    border-bottom: 2px solid transparent;
    min-width: max-content;

    p {
      color: rgba(black, 80%);
      text-align: center;
    }

    &.active {
      border-bottom: 2px solid color.$secondary;
      p {
        color: color.$secondary;
      }
    }
  }
}

.tabContent {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  h2 {
    font-weight: 500;
    font-family: var(--font-work-sans);
  }

  h3 {
    font-family: var(--font-work-sans);
    font-size: font.$size-xs;
    color: color.$primary;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  p {
    font-weight: 500;
    word-wrap: break-word;
  }

  .divider {
    height: 1px;
    width: 100%;
    background-color: rgba(color.$heading, 10%);
  }

  .row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@include respond-to(xs) {
  .backToUsers {
    margin-left: 2.5rem;
  }

  .tabContent .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include respond-to(sm) {
  .basicInfo {
    text-align: left;
    flex-direction: row;

    .divider {
      height: 80px;
      width: 1px;
      background-color: rgba(color.$primary, 20%);
      margin: 0 30px;
    }
  }

  .titleRow {
    justify-content: space-between;
  }
}

@include respond-to(md) {
  .tabContent .row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include respond-to(lg) {
  .tabContent .row {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include respond-to(xl) {
  .backToUsers {
    margin-left: 0;
  }

  .tabContent .row {
    grid-template-columns: repeat(5, 1fr);
  }
}
