@use "@/styles/font-sizes" as font;
@use "@/styles/colors" as color;
@use "@/styles/breakpoints" as *;

// TODO make sidebar resizable on desktop

$transition-duration: 0.2s;

.icon {
  color: color.$heading;
}

.Sidebar {
  height: 100%;
  max-height: 100%;
  box-shadow: 0 5px 20px 0 rgba(black, 4%);
  display: flex;
  transition: opacity 0.5s, transform 0.5s;

  .sidebarIcon {
    display: none;
  }

  & > .child {
    padding: 10px 0;
    height: 100%;
    overflow-y: auto;
    width: 283px;
    scrollbar-width: thin;
  }
}

.SidebarAction,
.SidebarLink {
  padding-left: 30px;
  margin: 30px 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover {
    position: relative;

    ::after {
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(color.$neutral, 10%);
    }
  }
}

.SidebarLink {
  opacity: 60%;

  &.active {
    opacity: 100%;
    background-color: rgba(color.$secondary, 6%);
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 3px;
      background-color: color.$secondary;
    }
  }
}

.SidebarSection {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  h3 {
    margin: 0 30px 10px 30px;
    font-size: font.$size-xs;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
  }

  .SidebarAction,
  .SidebarLink {
    margin: 0;
  }
}

.SidebarFooter {
  margin: 40px 30px;
  font-size: font.$size-xs;
}

.SidebarDivider {
  height: 1px;
  background-color: rgba(color.$heading, 10%);
  margin-top: 4rem;
}

@media screen and (max-width: $screen-xl) {
  .Sidebar {
    position: fixed;
    top: 7.5rem;
    left: 10px;
    z-index: 1;
    padding: 0;
    height: fit-content;
    width: fit-content;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    box-shadow: none;

    &.inactive {
      opacity: 0;
    }

    & > .child {
      transform: scale(0);
      width: 0;
      height: 0;
      transform-origin: top left;
      transition: transform $transition-duration, width $transition-duration,
        height $transition-duration;

      max-height: calc(100vh - 10rem);
      padding: 10px 0;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 5px 20px 0 rgba(black, 4%);
      border: 1px solid rgba(black, 10%);
    }

    .sidebarIcon {
      display: flex;
      width: 48px;
      height: 48px;

      i {
        transition: transform $transition-duration;
      }
    }

    .SidebarAction,
    .SidebarLink {
      margin: 5px 0;
    }

    .SidebarSection {
      .SidebarAction,
      .SidebarLink {
        margin: 0;
      }
    }
  }

  .Sidebar.open {
    & > .child {
      transform: scale(1);
      width: 283px;
      height: auto;
    }

    .sidebarIcon i {
      transform: rotate(180deg);
    }
  }

  .SidebarSection {
    & > .child {
      display: none;

      &.open {
        display: block;
      }
    }

    & > h3::after {
      content: "\f078";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
    }
  }
}
