@use "@/styles/font-sizes" as font;
@use "@/styles/breakpoints" as *;

.DashboardLayout {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard {
  display: flex;
  flex: 1;
  width: 100%;

  main {
    flex: 1;
    padding: 1rem;
    background-color: hsla(0, 0%, 98%);
    overflow-y: auto;

    h1 {
      font-size: font.$size-2xl;
      font-family: inherit;
      font-weight: 500;
    }
  }
}

@include respond-to(xs) {
  .dashboard main {
    padding: 30px;

    h1 {
      margin-left: 2.5rem;
    }
  }
}

@include respond-to(xl) {
  .dashboard main {
    padding: 60px;

    h1 {
      margin-left: 0;
    }
  }
}
